* {margin: 0; padding: 0; box-sizing: border-box;}

html, body {
    margin: 0; padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}
h1, h2 {text-align: center;}
h1, h2, h3, form, label {margin: 10px 0;}
h3, label {margin-bottom: 10px;}

.main__wrapper {width: 100%; padding: 0 20px; margin-top: 0;}

.content__wrapper {width: 100%; padding-top: 3%;}

.wrapper {
    width: 85%;
    margin-top: 20px;
    padding: 10px;

    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 5px 15px 20px rgba(0,0,0,.35),
                -5px 0 20px rgba(0,0,0,.35);
}

iframe {border: 0;}

/* ...................................... 
    
    NAVIGATION_ICON
    
    ...................................... */

.img {
    /*
    background: url(../img/svg_nav_arrow.svg);
    max-width: 100%;
    max-height: 100px;
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    */
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 1200;

    transform: rotate(-90deg);
}

/* ...................................... 
    
    HEADER
    
    ...................................... */

/* задаем цвет фона для контейнера nav. */
.navigation {
    max-width: 95%;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    margin: 0 auto;
    padding: 0;
    background-color: aqua;
    border-radius: 30px;
    z-index: 1050;

    text-align: center;
}

.title-1 {
    color: rgb(124, 54, 188);
    color: rgba(124, 54, 188, 0.35);
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.2s cubic-bezier(.45, -0.45, .61, 1.47);
    font-weight: 600;
    text-decoration: underline;
}

/* изменяем цвет фона при наведении курсора */
.navigation a:not(.title-1):hover {background-color: #000000;}

.title-1:hover {text-decoration: underline;}

/* измените ' +' на любой другой символ, если нужно */
li > a:after { content:  ' >'; }
li > a:only-child:after { content: ''; }
/* ul ul li > a:after { content:  ' >'; } */

/* скрываем выпадающие списки по умолчанию
 * и задаем абсолютное позиционирование */
 .navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #E64A19;
}

/* отображаем выпадающий список при наведении */
.navigation ul li:hover > ul {
    display: inherit;
}

/* первый уровень выпадающего списка */
.navigation ul ul li {
    min-width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

/* второй, третий и последующие уровни 
 * смещаем 2 и 3 уровни влево 
 * на значение длины первого уровня.
*/
nav ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    list-style: none;
}
/* стилизуем ссылки */
nav ul ul ul a {
    display: block;
    padding: 0 15px;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
}

/* меню */

._menu
{
    padding-left: 0;
    list-style: none;
}

._main-menu
{
    display: inline-block;
    position: relative;
}

._main-menu>li
{
    display: inline-block;
    border-right: 1px solid #eaeaea;
    margin-right: -4px;
}
._main-menu>li:after
{
    content: "";
    display: block;
    height: 3px;
    background: #09c;
    width: 0;
    margin: 0 auto;     
}
._main-menu>li:hover:after
{
    width: 100%;
    transition: all 0.3s ease-in 0s;
}
._main-menu>li:first-child
{
    border-left: 1px solid #eaeaea;
}

._main-menu>li>a
{
    color: #333;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
._main-menu>li>a:hover
{
    color: #09c;
}

._main-menu>li:hover>._sub-menu
{
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in;
}
._main-menu>li:last-child:hover>._sub-menu
{
    right: 0;
}

._sub-menu
{
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0, 0.3);
    width: 200px;
    margin-top: 3px;
    z-index: -1;
    /*display: none;*/
    /*решение проблемы - не анимируется display*/
    visibility: hidden;
    opacity: 0;
}

._sub-menu>li
{
    border-top: 1px solid #eaeaea;
    text-align: left;
}

._sub-menu>li>a
{
    color: #333;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    
}
._sub-menu>li>a:hover
{
    background: rgba(0,153,204, 0.25);
    padding-left: 15px;
    transition: all .3s ease-in;
}

/* ------ logging ------ */

.logging {display: inline-block; list-style: none; right: 2%;}
.logging li {display: inline-block;}
.logging a {text-decoration: none; color: #000;}

#log-in, #reg {display:none;}

.modal {z-index: 1500;}

/* modal:open */

a.btn {
    color: #fff;
    background: #FF0066;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 4px;
    transition-duration: .25s;
    border: none;
    font-size: 14px;
}
a.btn:hover {
    background: #22272a;
}

/* login form */

.login_form.modal {
    border-radius: 0;
    line-height: 18px;
    padding: 0;
    font-family: "Lucida Grande", Verdana, sans-serif;
}

.login_form h3 {
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    background: -moz-linear-gradient(top, #2e5764, #1e3d47);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1e3d47),color-stop(1, #2e5764));
}

.login_form.modal p { 
    padding: 20px 30px; border-bottom: 1px solid #ddd; margin: 0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #eee),color-stop(1, #fff));
    overflow: hidden;
}
.login_form.modal p:last-child { border: none; }

.login_form.modal p label {
    float: left; font-weight: bold; color: #333; font-size: 13px; width: 110px; line-height: 22px; 
    margin: 0; padding: 0;
}

.login_form.modal p input[type="text"],
.login_form.modal p input[type="password"] {
    font: normal 12px/18px "Lucida Grande", Verdana;
    padding: 3px;
    border: 1px solid #ddd;
    width: 200px;
}

.modal p { margin: 1em 0; }
.modal a.close-modal { border: none; }

/* registration form */

#reg.modal {padding: 10px; top: 6%;}

#reg .form-row {display: inline-block;}
#reg .form-item {display: inline-block;}
#reg label {margin: 0;}

/* ...................................... 

    PORTFOLIO

    ...................................... */

.sec-1 p {margin-top: 10px;}

.table {padding: 10px;}

td {padding-top: 10px;}

.col-1 {
    width: 150px;
    vertical-align: top;
}

.col-2 {
    width: 400px;
    vertical-align: top;
}

.border {border: 1px solid black;}

.border-2 {
    border-right: 3px solid black;
    border-color: black;
}

.list-main {list-style: decimal;}

.list {
    list-style: circle;
    margin-left: 20px;
}

.font {font-weight: 700;}

/* ...................................... 

    FOOTER

    ...................................... */

.footer {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
}

.footer h2 {text-align: left;}

/* ...................................... 

    REVIEWS

    ...................................... */

.center-number {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0, -80%);
}
._label {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;	

    max-width: 450px;
    /*max-height: 900px;*/
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 
                0 10px 10px rgba(0,0,0,.22);
}
input, textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;	
    width: 140px;
}
textarea {width: 95%;}
fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;	

    margin-bottom: 15px;
}
legend {font-style: italic; font-size: 16px;}

.form-row {display: block; padding: 10px;}
label {
    padding: 5px;
    font-size: 14px;
    display: inline-block;
    width: 170px;
    color: black;
}
.form-item {display: block;}

.range::before {content: "0";}
.range::after {content: "10";}

.line-item {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.line:first-child {margin-right: 10px;}
.line {display: inline-block;}
.btn {width: 100px;}

.number {width: 20px;}

.checkbox {width: 30px;}
.policy {margin-bottom: 15px;}