/* CSS Document */

/* Универсальный селектор */

* {font-family: sans-serif;}

/* Слекторы элементов (тегов) */

table 
{
	margin: 50px auto;
	empty-cells: hide;
	color: white;
}
td {
	padding: 20px 40px;
	text-align: center;
}
th {padding: 10px 20px;}

/* Селекторы структурных псевдоклассов */

td:nth-child(even) {background-color: #21a649;}
td:nth-child(odd) {background-color: #00392a;}

th:nth-child(even) {background-color: #21a649;}
th:nth-child(odd) {background-color: #00392a;}

tr:hover td {background: #fff; color: #ebebeb;}

/* Селекторы классов */

.rounded-top {border-top-left-radius: 50px;}
.rounded-bottom {border-bottom-left-radius: 50px;}

/* Селекторы потомков + вендерные префиксы */

th span {
	background: linear-gradient(20deg, red 20%, orange 35%, green 55%, blue 75%); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	color: #B00004;
}

p span {
	
}

/* Дочерний селектор */

.menu>li {
	list-style: none;
}

/* Селекторы пседоэлементов */

h1::after {
	content: "";
	display: block;
	margin: 30px 0px;
	background-color: aqua;
}